.container{
    width: 1200px;
    margin: 10px auto;
    display: flex;
}
.leftSide{
    width: 40%;
}
.rightSide{
    width: 30%;
}
.item{
    border: 1.5px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding: 0 10px;
    color: black;
    text-decoration: none;
}