.App {
  display: flex;
  flex-direction: column;
}
.features {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.orderBy,
.filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer {
  display: flex;
}
.footer ul {
  margin: auto;
}
.footer p {
  position: fixed;
  right: 100px;
  color: blue;
}
